@import '../sass/mixin';

.light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    @include starLine(#fff);
}
.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    @include starLine(#203040);
}
