.hoverImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
  opacity: 0;
  transition: all 0.2s;
  &:hover {
    opacity: 0.9;
  }
}
